@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    list-style-type: none;
    scroll-behavior: smooth;
}
body{
background-color: black;
}
header{
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-content: center;
    align-items: center;
    width: 100%;
}
.header{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 100;
    position:fixed
}
.logo {
    font-size: 25px;
    font-family: 'Reggae One', cursive;
    color: #FFFFFF;
}
.logo img{
    padding: 0px 10px;
    
}
.botonera{
    display: flex;
}
.botones{
    display: flex;
    justify-content: space-between;
    border-color: #f1c40f;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #f10f0f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f00000 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 500ms ease-in-out;
}
.botones:hover {
    background-position: 0;
}
.botonera li{
    padding: 15px 0px 0px 100px;
}
.botonera li a{
    text-decoration: none;
    color: white;
    display: flex;
    text-decoration: none;
    color: white;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-item{
    width: 100vw;
    height: 100vh;
}
.carousel-item img{
    width: 140%;
    height: 100%;
}
.carousel-item h2{
    position: absolute;
    left: 250px;
    top: 230px;
    color: white;
    font-family: 'Reggae One', cursive;
    font-size: 80px;
}
.carousel-item h3{
    position: absolute;
    left: 250px;
    top: 330px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}
.carousel-item h4{
    position: absolute;
    left: 250px;
    top: 400px;
    color: red;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 700;
}
.carousel-item h5{
    position: absolute;
    left: 250px;
    top: 440px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}
.guias{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background-image: url(../img/bg_guia2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.guias h2{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 80px;
    padding: 80px 0px 0px 0px;
}
.guias h3{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 40px;
    padding: 10px 0px 0px 0px;
}
.guias h4{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding: 10px 0px 0px 0px;
}
.card-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    position:absolute;
    top: 740px;
    left: 80px;
    width: 250px;
}
.img-card {
    display: flex;
    width: 250px;
    height: 150px;
    -webkit-filter: grayscale(100%);
    transition: 0.6s;
    border-radius: 20px;
    box-shadow: 0px 10px 15px 0px black;
}
.img-card:hover{
    -webkit-filter: grayscale(0%);
}
#text-card{
    padding: 7px;
    font-size: 15px;
}

.card-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    position:absolute;
    top: 1040px;
    left: 80px;
    width: 250px;
}
.card-3{
    display: flex;
    flex-direction: column;
    text-align: center;
    position:absolute;
    top: 740px;
    left: 75%;
    width: 250px;
}
.card-4{
    display: flex;
    flex-direction: column;
    text-align: center;
    position:absolute;
    top: 1040px;
    left: 75%;
    width: 250px;
}
.music{ 
    top: 100px;
}
.members{
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-align: center;
    background-image: url(../img/bg_container99.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.members h2{
    font-family: 'Reggae One', cursive;
    font-size: 60px;
    color: white;
}

.swiper {
    width: 345px;
    height: 450px;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: black;
}
.img-card-member-lancer {
    width: 245px;
    height: 260px;
    background-image: url(../img/lancer-grade2.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.img-card-member-arbalist {
    width: 245px;
    height: 260px;
    background-image: url(../img/arbalist-grade4.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.img-card-member-socerer {
    width: 245px;
    height: 260px;
    background-image: url(../img/sorcerer-grade2.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.img-card-member-warrior {
    width: 245px;
    height: 260px;
    background-image: url(../img/warrior-grade4.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.nombre-pj{
    margin: 0px;
}
.clase-pj{
    font-size: 15px;
}
.status-pj{
    padding: 8px 0px 0px 0px;
}
.poder-pj{
    padding: 10px 0px 0px 0px;
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin: 0;
}
.poder-pj img{
    width: 20px;
}
.nivel-pj{
    font-size: 17px;
}

.swiper-slide:nth-child(1n) {
    display: flex;
    align-items: center;
    background-image: url(../img/fondo-lider.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-start;
    padding: 20px 0px 0px 0px;
    border-radius: 20px 20px 20px 20px;
}

.swiper-slide:nth-child(2n) {
background-image: url(../img/Fondo-Anciano.PNG);
}

.swiper-slide:nth-child(3n) {
    background-image: url(../img/Fondo-Anciano.PNG);
}

.swiper-slide:nth-child(4n) {
    background-image: url(../img/Fondo-Anciano.PNG);
}

.swiper-slide:nth-child(5n) {
    background-image: url(../img/Fondo-Anciano.PNG);
}

.swiper-slide:nth-child(6n) {
    background-image: url(../img/Fondo-Anciano.PNG);
}

.swiper-slide:nth-child(7n) {
    background-image: url(../img/Fondo-Anciano.PNG);
}

.swiper-slide:nth-child(8n) {
    background-image: url(../img/Fondo-Anciano.PNG);
}

.swiper-slide:nth-child(9n) {
    background-image: url(../img/fondo-miembro.PNG);
}

.swiper-slide:nth-child(10n) {
    background-image: url(../img/fondo-miembro.PNG);
}
.swiper-slide:nth-child(11n) {
    background-image: url(../img/fondo-miembro.PNG);
}
.swiper-slide:nth-child(12n) {
    background-image: url(../img/fondo-miembro.PNG);
}
.swiper-slide:nth-child(13n) {
    background-image: url(../img/fondo-miembro.PNG);
}
.swiper-slide:nth-child(14n) {
    background-image: url(../img/fondo-miembro.PNG);
}
.swiper-slide:nth-child(15n) {
    background-image: url(../img/fondo-miembro.PNG);
}
.swiper-slide:nth-child(16n) {
    background-image: url(../img/fondo-miembro.PNG);
}
.swiper-slide:nth-child(17n) {
    background-image: url(../img/fondo-miembro.PNG);
}


/*Mobile*/
@media screen and (max-width: 767px){
    header{
        height: 80px;
        width: 412px;
    }
    .botonera{
        display: none;
    }
    #carouselExampleControls{
        width: 412px;
        height: 530px;
    }
    .carousel-item img{
        width: 1000px;
        height: 500px;
        float:right;
    }
    .carousel-item h2{
        font-size: 50px;
        left: 70px;
        top: 130px;
        color: white;
    }
    .carousel-item h3{
        font-size: 35px;
        left: 70px;
        top: 200px;
        color: white;
    }
    .carousel-item h4{
        font-size: 12px;
        left: 70px;
        top: 290px;
        color: white;
    }
    .carousel-item h5{
        font-size: 12px;
        left: 70px;
        top: 320px;
        color: white;
    }
    .guias{
        width: 412px;
        height: 100vh;
    }
    .guias h2{
        font-size:50px;
        padding: 0px;
    }
    .guias h3{
        font-size:25px;
    }
    .guias h4{
        font-size:15px;
    }
    .img-card{
        width: 130px;
        height: 80px;
    }
    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-1{
        padding: 25px;
        position:inherit;
        top: 0px;
        width: 170px;
    }
    .card-2{
        padding: 25px;
        position:inherit;
        top: 0px;
        width: 170px;
    }
    .card-3{
        padding: 25px;
        position:inherit;
        top: 0px;
        width: 170px;
    }
    .card-4{
        padding: 25px;
        position:inherit;
        top: 0px;
        width: 170px;
    }
    #text-card{
        padding: 7px;
        font-size: 13px;
    }
    .members{
        justify-content: normal;
        width: 412px;
    }
    .members h2{
        padding: 70px 0px;
        font-size: 40px;
    }
    .swiper {
        width: 250px;
        height: 350px;
    }
    .img-card-member-lancer {
        width: 175px;
        height: 200px
    }
    .img-card-member-arbalist {
        width: 175px;
        height: 200px
    }
    .img-card-member-socerer {
        width: 175px;
        height: 200px
    }
    .img-card-member-warrior {
        width: 175px;
        height: 200px
    }
    .swiper-slide:nth-child(1n) {
    padding: 15px 0px 0px 0px;
    }
}